@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
@import url('https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css');

*{
  /*color: white;*/
  box-sizing: border-box;
  
  font-family: 'Caveat Brush', 'cwTeXFangSong'; 
}

body{
  margin: 0;
  background-color: lightgray;
}


.body-fix{
  overflow: hidden;
}


#head{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: -2;
}

#head-bg{
  margin:-10% auto 0;
  min-width: 1300px;
  width: 100%;
}

#slogan{
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  padding: 15vh 50px 0;
  color:white;
  text-align: center;
  font-size: 10rem;
  z-index: 0;
}

#content{
  padding: 10px 0;
  margin: 70vh auto 0;

  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background: #fff url('./d4631913d3b74ba884b9094cdded542c.jpg') center 0 no-repeat fixed;
  background-size: 100% auto;

}

#content-bg{
  position: fixed;
  opacity: 0.75;
  top:0;
  left:0;
  width: 100%;
  clip-path:polygon(0% 70vh, 0% 100%,100% 100%,100% 70vh);
}

main{
  width: 80vw;
  margin: 10px auto;
}
.row{
  display: flex;

}
@media (max-width: 768px){
  .row{
    flex-direction: column;
  }
  #slogan{
    padding: 15vh 50px 0;
    font-size: 7rem;
  }
  #slogan-dead{
    display: none;
  }
}

.col{
  flex:1;
  height: 300px;
  margin: 10px 10px;
}

.story{
  overflow: hidden;
  padding: 10px 20px;
  border:1px solid #051426;
  position: relative;
  /*transform: rotate(-1deg);*/
  background-color: rgba(255,255,255,.5);
  border-radius: 20px 0 10px 0;
}

.story::after{
  content: "";
  position: absolute;
  border:1px solid gold;
  top:5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  transform: rotate(2deg);
  z-index: 0;
}

.story-intro{
  height: 200px;
  overflow: hidden;
}

.story-more{
  display: none;
}

#popup-box{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(50,50,50,.8);
}

#msg-box{
  color: #faff9e;
  margin: 10vh auto 0;
  background-color: #3a0360;
  opacity: 0.9;
  width: 90vw;
  height: 70vh;
  padding: 20px;
  font-size: 1.6rem;
  border-radius: 20px 0 10px 0;
  transform: rotate(0.2deg);
  overflow-y: auto;
}
