*{

  box-sizing: border-box;
  margin: 0;
  font-family: "微軟正黑體", "Microsoft JhengHei", "Segoe UI Semibold";
}
body{
  min-height: 100vh;
  background-color: lightgray;
}
img{
  width: 100;
}
main{
  width: 80vw;
  margin: 20px auto;
}
.row{
  display: flex;
}
.col{
  flex:1;
  min-height: 300px;
  border:1px solid pink;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
}

.story-intro{
  padding: 5px;
}

.story-more{
  display: none;
}

#popup-box{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255,255,255,.8);
}
#msg-box{
  margin: 30px auto;
  background-color: blueviolet;
  width: 500px;
  min-height: 300px;
  padding: 10px;
}